@media (max-width:959px) and (min-width: 501px) {
    html {
        background-color: #fff;
    }
    body {
        background-color: #fff;
        display: table;
        margin: 0;
    }
    .main-result {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px;
    }
    .main-section {
        max-width: 100%;
        margin: 0;
    }
    .center {
        display: inline-flex;
    }
    .result-title-2 {
        display: inline-block;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        margin-top: 30px;
    }
    .fa-chart-line {
        position: static;
    }
    .rightside {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        height: 100%;
        margin: 30px 0 0 0;
    }
}