* {
  transition: all 0.3s ease-in-out;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "Raleway", arial, sans-serif;
  font-size: 1em;
  margin : 0
}

header {
  margin: 0 40px 0 40px;

}

.header {
  overflow: hidden;
  background-color: #fff;
  padding: 0;
}

.header a {
  float: left;
  color: #0065fc;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
}

.header img.logo {
  max-width: 100%;
  height: auto;
}

.header a:hover {
  background-color: #fff;
  color: #000;
}
.header a.subscribe {
  font-weight: bold;
}
.header a.active {
  border-top: solid #0065fc;
  color: #000;
}

.header-right {
  float: right;
}


h1 {
  font-size: 16px;
  font-weight: 900;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px 0 0 15px;
}

.search-section {
  margin: 0 40px 0 40px;

}
.search {
  display: flex;
}

.searchTerm {
  border: none;
  border-right: none;
  padding: 5px;
  color: #000000;
  font-weight: bolder;
}

.searchTerm:focus {
  color: #0065fc;
}

.searchButton {
  border: none;
  background: #0065fc;
  text-align: center;
  color: #fff;
  border-radius: 0 15px 15px 0;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  font-size: 16px;
}

i.fa-search {
  display: none;
}

.searchButton:hover {
  background-color: #61a0ff;
  color: #000;
}

.contenairbtn {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 900;
}

.btn {
  background-color: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 60px;
  color: #000;
  padding: 0 20px 0 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 15px 0 15px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  animation: MoveUpDown 1s linear infinite;
  background-color: #f2f2f2;
}
@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  border: 1px solid #deebff;
  border-radius: 60px;
  color: #0065fc;
  padding: 15px;
  margin: 0 10px 0 -25px;
  background-color: #deebff;
}

.attention {
  font-size: 14px;
  margin-bottom: 40px;
}

.fa-info-circle {
  background-color: #0065fc;
  color: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  margin: 0 10px 0 0;
}


.main-result {
  display: inline-flex;
  margin: 0 40px 50px 40px;

}

.main-section {
  background-color: #f2f2f2;
  max-width: 70%;
  border-radius: 20px;
  padding-top: 30px;
  margin: 0 20px 0 0;

}
.center {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  }
  
  
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    width: 210px;
    max-height: 100%;
    padding: 5px;
    margin: 10px;
    background-color: #fff;
  }


.result-title {
  font-size: 16px;
  font-weight: 900;
  margin: 10px 0 20px 40px;
  
}



.card1 a {
  color: #000;
  text-decoration: none;
}

.card2 a {
  color: #000;
  text-decoration: none;
}

.roomcontainer {
  line-height: 0em;
  padding: 0 0 10px 10px;
}

.title-bottom {
  color: #000;
  text-align: center;
  padding: 12px;
  font-weight: 900;
  font-size: 18px;
  line-height: 50px;
  margin: 10px 0 20px 25px;
  text-decoration: none;
}
.title-bottom:hover {
  color: #0065fc;
}

.rightside {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
  max-width: 100%;
  border-radius: 20px;
  margin: 0 0 0 20px;
}
.result-title-2{
  display: inline-flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  position: relative;
}
.fa-chart-line {
  font-size: 1.3em;
  position: absolute;
  right: -170px;
}

.card2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  width: 300px;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
}

.room-container-2 {
  padding: 0 0 0 10px;
  width: 150px;
  line-height: 1em;
}

.fa-star {
  color: #d8d8d8;
}
.checked {
  color: #0065fc;
}




img.pics1 {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100px;
  object-fit: cover;
}
img.pics2 {
  border-radius: 20px 0 0 20px;
  width: 130px;
  height: 130px;
  object-fit: cover;
  padding: 0 10px 0 0;
}
img.pics3 {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
img.pics4 {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.bottom-section {
  background-color: none;
  padding: 20px;
  max-width: 100%;
  border-radius: 20px;
  font-weight: bolder;
  margin: 0 40px 0 40px;

}
.bottom-section a {
  text-decoration: none;
  color: #000;
}
.bottom-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.activite-result {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  width: 250px;
  max-height: 100%;
  padding: 0;
  margin: 15px 0 15px 0;
  background-color: #fff;
}
.activite-result-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  width: 250px;
  max-height: 100%;
  padding-bottom: 5px;
  margin: 23px 0 23px 0;
  background-color: #fff;
}

.description-bottom {
  margin-left: 20px;
  font-weight:bolder;
}
.bottom-title {
  font-weight: bolder;
  margin: 0 0 0 35px;
}











.footer-clean {
  margin: 50px 0 0 0;
  padding:25px 20px 20px 0px;
  background-color: #f2f2f2;
  color:#000;

  
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:2em;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-container{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
}





@media screen and (max-width: 500px) {


  header {
    margin: 0;
  
  }
header .logo {
  margin: 20px 20px 0 20px;
}
  .header a {
    float: none;
    display: flex;
    text-align: left;
  }
  
  .header a.active {
    border-top: none;
    border-bottom: solid 4px #0065FC;
    color: #000;
  }
  .header a.activite {
    border-top: none;
    border-bottom: solid 4px #fff;

  }

  

  .header-right {
      display: flex;
      flex-flow: row wrap;
      justify-content: stretch;
      align-items: center;
    float: none;
    position:relative;
    
  }

  .subscribe {
    position:absolute;
    bottom: 65px;
    right: 0;
  }
 

.search-section {
  display: block;
  margin: 0 20px 0 20px;
}
  .search {
display: inline-flex; 
margin: 0;
}
.searchButton {
  border-radius: 15px;
}
span.text-rechercher {
  display: none;
}



i.fa-search {
  display: flex;
}

.contenairbtn {
  display: inline-flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: flex-start;

}

.main-result {
  display: flex;
  flex-flow: column-reverse wrap;
  margin: 0;
}

.rightside {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  border-radius: 0;
  margin: 0;
}

.result-title-2{
  display: inline-flex;
  margin-left : 20px;
  position: relative;
}
.fa-chart-line {
  font-size: 1.3em;
  position: absolute;
  float: right;
  margin-right: 20px;
}

}