* {
  transition: all 0.3s ease-in-out;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "Raleway", arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; /* adapt to your design */
}
.container{
    display: inline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: #0065fc;
  text-align: Right;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #fff;
  color: #000;
}
