body {
	background-color: #fff;
	color: #000;
	font-family: "Raleway", arial, sans-serif;
	font-size: 1em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}

img {
    display: flex;
    justify-content: flex-start;
}
nav {
    display: flex;
    flex-direction: row;
  }